$beige: #fae6b1;
$orange: #ffa101;
$light-blue: #b3dee5;
$dark-blue: #31525b;
$white: #ffffff;
$black: #000000;

$color-primary: $beige;
$color-primary-dark: $orange;
$color-secondary: $light-blue;
$color-secondary-dark: $dark-blue;
