@import "@/styles/_variables.scss";

.container {
  position: sticky;
  top: 0;
  z-index: 20;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
  background-color: $color-primary;
}
