@import '@/styles/_variables.scss';

.container {
  border-radius: 1rem;
  width: 400px;
  background-color: $color-primary;

  .imageContainer {
    height: min-content;
    position: relative;
    img {
      border-radius: 1rem 1rem 0 0;
      position: relative !important;
      object-fit: contain;
    }
  }

  .infoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;

    .details {
      display: grid;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: $black;
      font-size: 1rem;
      border-radius: 1rem;
      background-color: $white;
      padding: 0.5rem;
      
      &:visited {
        text-decoration: none;
      }
    }
  }
}
